@import "helpers/variables";

.container{
	min-width: 400px;
	font-family: 'Open Sans', sans-serif;
}

.bg-black{
	background:#000;
	color:#fff;
}

#main-header{
	img{
	width:100%;
	height:100%;
	border-radius: 50%;
	}

	.port-item{	
		width:25%;
		.fa{
			font-size:2.0em;
		}
	}

	.port-item:hover{
		opacity:0.8;
		cursor:pointer;
	}
}

#main-footer {
	.social{
		.fa {
		font-size: 1.5em;
		}
	}
}

.work-icon {
	height: 50px;
	width: 50px;
	border-radius: 10%;
}

.card {
	ul{
		padding-left: 0;
		.fa-chevron-right { 
			margin-right: 10px;
			font-size: 10px;
		}
		li {
			list-style-type: none;
		}
	}
}

.home-bg {
	background-color: $home-bg;
}
.exp-bg {
	background-color: $exp-bg;
}
.edu-bg {
	background-color: $edu-bg;
}
.port-bg {
	background-color: $port-bg;
}

.bar-green {
	background-color: $bar-green;
}

.bar-amber {
	background-color: $bar-amber;
}

.bar-red {
	background-color: $bar-red;
}

@media(min-width:1199px){
	.port-item{
		padding:1em 1.5em !important;
	}
}

.card {
	border-radius: 0;
	border: none;
}

/*.card-deck {
	.skill-bars{
		h6{
			text-align: center;
		}
	}
}*/
